div.catalogue__wrap
 div.catalogue_conteiner
    div.categori__hide
        div.categori__hide__container(ng-click='sortCat=!sortCat')
            p(ng-click='sortCat=!sortCat') Категорії
            div.Cattriangleimg(ng-click='sortCat=!sortCat')
        div.category2(ng-show="sortCat")

                input.category-selector-2(type='radio', name='radio-set' ng-click='cat.filterByCategory("beer");')
                label.category-label-2(for='category-02') Пиво

                input.category-selector-3(type='radio', name='radio-set' ng-click='cat.filterByCategory("wine");' )
                label.category-label-3(for='category-03' ) Вино

                input.category-selector-5(type='radio', name='radio-set'  ng-click='cat.filterByCategory("whiskey");')
                label.category-label-5(for='category-05') віскі

                input.category-selector-6(type='radio', name='radio-set'  ng-click='cat.filterByCategory("rom");')
                label.category-label-6(for='category-06') ром

                input.category-selector-7(type='radio', name='radio-set'  ng-click='cat.filterByCategory("tequila");')
                label.category-label-6(for='category-07') текіла

                input.category-selector-7(type='radio', name='radio-set'  ng-click='cat.filterByCategory("others");')
                label.category-label-6(for='category-08') інше

                input.category-selector-4(type='radio', name='radio-set'  ng-click='cat.filterByCategory("vodka");')
                label.category-label-4(for='category-04' ) Горілка


        div.filter__hide-container(ng-click='sortFilt=!sortFilt')
            div.catalogue_filter_head
                img(src='../img/controls.png' ng-click='sortFilt=!sortFilt')
                p(ng-click='sortFilt=!sortFilt') Фільтрація
            //p Фільтр
            div.Cattriangleimg(ng-click='sortFilt=!sortFilt')
        div.catalogue_filter(ng-show="sortFilt")
            div.catalogue_filter_head
                img(src='../img/controls.png')
                p Фільтрація
            div.catalogue_filter_sort.filter
                div.catalogue_filter_sort_part1(ng-click="sortingAZ=!sortingAZ;")
                    img(src='../img/sort.png')
                    p Сортувати
                    span.filter_hide {{sortingAZ ? 'Hide' : 'Show'}}
                div.catalogue_filter_sort_check(ng-show='sortingAZ')
                    form.ckeck

                        label
                            input.radiobox.radiobox__custom(type='radio' name='sort3' ng-click='cat.sortGoods("name")')
                            |  A-Z
                        br
                        label
                            input.radiobox.radiobox__custom(type='radio' name='sort3'  ng-click='cat.sortGoods("price")')
                            |  По ціні від 0-9
                        br
                        label
                            input.radiobox.radiobox__custom(type='radio' name='sort3'  ng-click='cat.sortGoods("-price")')
                            |  По ціні від 9-0
            div.catalogue_filter_pice.filter
                div.catalogue_filter_price_part1(ng-click="filterP=!filterP;")
                    img(src='../img/wallet.png')
                    p Ціна
                    span.filter_hide {{filterP ? 'Hide' : 'Show'}}
                div.catalogue_filter_price2(ng-show='filterP')
                    span  Від {{cat.lower_price_bound}} до {{cat.upper_price_bound}}
                    slider(floor='{{cat.lp}}', ceiling='{{cat.hp}}', ng-model-low='cat.lower_price_bound', ng-model-high='cat.upper_price_bound')
            div.catalogue_filter_volume.filter
                div.catalogue_filter_volume_part1(ng-click="filterV=!filterV;")
                    img(src='../img/measuring-cup.png')
                    p Об’єм
                    span.filter_hide {{filterP ? 'Hide' : 'Show'}}
                form.ckeck(ng-show='filterV')
                    label(ng-repeat='volume in cat.volume| orderBy:volume')
                        input(type='checkbox' ng-click='cat.includeVolume(volume)')
                        |  {{volume/1000}}
                        br

            //filter by
            div.catalogue_filter_volume.filter
                div.catalogue_filter_volume_part1(ng-click="filterS=!filterS;")
                    img(src='../img/thermometer.png')
                    p Міцність
                    span.filter_hide {{filterS ? 'Hide' : 'Show'}}
                form.ckeck(ng-show='filterS')
                    label(ng-repeat='strength in cat.strength| orderBy:strength')
                        input(type='checkbox' ng-click='cat.includeStrength(strength)' )
                        |  {{strength}}
                        br

            div.catalogue_filter_volume.filter
                div.catalogue_filter_volume_part1(ng-click="filterB=!filterB;")
                    img(src='../img/real-estate.png')
                    p Бренд
                    span.filter_hide {{filterB ? 'Hide' : 'Show'}}
                form.ckeck(ng-show='filterB')
                    label(ng-repeat='brand in cat.brand| orderBy:brand')
                        input(type='checkbox', ng-click='cat.includeBrand(brand)')
                        |  {{brand}}
                        br

            div.catalogue_filter_volume.filter
                div.catalogue_filter_volume_part1(ng-click="filterC=!filterC;")
                    img(src='../img/flag.png')
                    p Країна
                    span.filter_hide {{filterC ? 'Hide' : 'Show'}}
                form.ckeck(ng-show='filterC')
                    label(ng-repeat='country in cat.state')
                        input(type='checkbox', ng-click='cat.includeCountry(country)')
                        |  {{country}}
                        br

    h2 Категорії
    img.catalog_img1(src='../img/shape-7.png')
    div.category

        input#category-02.category-selector-2(type='radio', name='radio-set' ng-click='cat.filterByCategory("beer");')
        label.category-label-2(for='category-02') Пиво

        input#category-03.category-selector-3(type='radio', name='radio-set' ng-click='cat.filterByCategory("wine");' )
        label.category-label-3(for='category-03' ) Вино

        input#category-04.category-selector-4(type='radio', name='radio-set'  ng-click='cat.filterByCategory("vodka");')
        label.category-label-4(for='category-04' ) Горілка

        input#category-05.category-selector-5(type='radio', name='radio-set'  ng-click='cat.filterByCategory("whiskey");')
        label.category-label-5(for='category-05') віскі

        input#category-06.category-selector-6(type='radio', name='radio-set'  ng-click='cat.filterByCategory("rom");')
        label.category-label-6(for='category-06') ром

        input#category-07.category-selector-7(type='radio', name='radio-set'  ng-click='cat.filterByCategory("tequila");')
        label.category-label-6(for='category-07') текіла

        input#category-08.category-selector-7(type='radio', name='radio-set'  ng-click='cat.filterByCategory("others");')
        label.category-label-6(for='category-08') інше


    div.catalogue.box
        div.catalogue_filter
            div.catalogue_filter_head
                img(src='../img/controls.png')
                p Фільтрація
            div.catalogue_filter_sort.filter
                div.catalogue_filter_sort_part1(ng-click="sortingAZ=!sortingAZ;")
                    img(src='../img/sort.png')
                    p Сортувати
                    span.filter_hide {{sortingAZ ? 'Hide' : 'Show'}}
                div.catalogue_filter_sort_check(ng-show='sortingAZ')
                    form.ckeck

                        label
                            input.radiobox.radiobox__custom(type='radio' name='sort3' ng-click='cat.sortGoods("name")')
                            |  A-Z
                        br
                        label
                            input.radiobox.radiobox__custom(type='radio' name='sort3'  ng-click='cat.sortGoods("price")')
                            |  По ціні від 0-9
                        br
                        label
                            input.radiobox.radiobox__custom(type='radio' name='sort3'  ng-click='cat.sortGoods("-price")')
                            |  По ціні від 9-0
            div.catalogue_filter_pice.filter
                div.catalogue_filter_price_part1(ng-click="filterP=!filterP;")
                    img(src='../img/wallet.png')
                    p Ціна
                    span.filter_hide {{filterP ? 'Hide' : 'Show'}}
                div.catalogue_filter_price2(ng-show='filterP')
                    span  Від {{cat.lower_price_bound}} до {{cat.upper_price_bound}}
                    slider(floor='{{cat.lp}}', ceiling='{{cat.hp}}', ng-model-low='cat.lower_price_bound', ng-model-high='cat.upper_price_bound')
            div.catalogue_filter_volume.filter
                div.catalogue_filter_volume_part1(ng-click="filterV=!filterV;")
                    img(src='../img/measuring-cup.png')
                    p Об’єм
                    span.filter_hide {{filterP ? 'Hide' : 'Show'}}
                form.ckeck(ng-show='filterV')
                    label(ng-repeat='volume in cat.volume| orderBy:volume')
                        input(type='checkbox' ng-click='cat.includeVolume(volume)')
                        |  {{volume/1000}}
                        br

            //filter by
            div.catalogue_filter_volume.filter
                div.catalogue_filter_volume_part1(ng-click="filterS=!filterS;")
                    img(src='../img/thermometer.png')
                    p Міцність
                    span.filter_hide {{filterS ? 'Hide' : 'Show'}}
                form.ckeck(ng-show='filterS')
                    label(ng-repeat='strength in cat.strength| orderBy:strength')
                        input(type='checkbox' ng-click='cat.includeStrength(strength)' )
                        |  {{strength}}
                        br

            div.catalogue_filter_volume.filter
                div.catalogue_filter_volume_part1(ng-click="filterB=!filterB;")
                    img(src='../img/real-estate.png')
                    p Бренд
                    span.filter_hide {{filterB ? 'Hide' : 'Show'}}
                form.ckeck(ng-show='filterB')
                    label(ng-repeat='brand in cat.brand| orderBy:brand')
                        input(type='checkbox', ng-click='cat.includeBrand(brand)')
                        |  {{brand}}
                        br

            div.catalogue_filter_volume.filter
                div.catalogue_filter_volume_part1(ng-click="filterC=!filterC;")
                    img(src='../img/flag.png')
                    p Країна
                    span.filter_hide {{filterC ? 'Hide' : 'Show'}}
                form.ckeck(ng-show='filterC')
                    label(ng-repeat='country in cat.state')
                        input(type='checkbox', ng-click='cat.includeCountry(country)')
                        |  {{country}}
                        br



        div.catalogue_goods
            div.catalogue_goods_object(ng-repeat='goods in cat.goods  |filter:my.filter| filter:cat.volumeFilter|filter:cat.brandFilter|filter:cat.countryFilter|filter:cat.strengthFilter|filter:cat.priceRange|orderBy:cat.myOrderBy | startFrom: cat.startingItem| limitTo: cat.itemsPerPage track by $index ' )
                a(ui-sref="details" )
                    img.image(src='{{goods.image}}' ng-click='my.detail_of_goods(goods)')
                h4 {{goods.name}}
                p {{goods.volume}}ml
                p.price_goods {{goods.price}} грн
                input.to_basket(type='button' value='В корзину' ng-click='ByGoods(goods)' ng-model='cat.CountGood')

    div.catalogue_goods_paginnation
        input.pageNum( type='button' ng-repeat='p in cat.pages' value='{{p}}' ng-click='cat.goToPage(p)')

        //input(type='button' value='назад' ng-disabled='my.firstPage()' ng-click='my.pageBack()')
        //span {{my.currentPage+1}} з {{my.numberOfPages()}}
        //input(type='button' value='вперед' ng-disabled='my.lastPage()' ng-click='my.pageForward()')
        //span {{my.page_count=(my.goods|filter:my.myfilter).length}}