div#main_conteiner
    div#conteiner_section1
        div#bottle
            a(href='#/admin' ng-click='my.catFromMain("vodka")')
                img(src='../img/vodka.png')

            a(href='#/catalogue' ng-click=' my.catFromMain("wine")')
                img(src='../img/vine2.png')

            a(href='#/catalogue' ng-click=' my.catFromMain("beer")')
                img(src='../img/beer.png')
            a(href='#/catalogue')
                img(src='../img/whiskey.png' ng-click=' my.catFromMain("whiskey")')

        div.content.banner
            script(type='text/ng-template', id='tpl2.html').

                    <div class='main_banner' style="background: url('{{i.image}}')" ng-click='my.detail_of_goods_banner(i.product_id)'>

                    </div>

            slick.slider.banner(settings='my.slickConfig1',  ng-if='my.slickConfig1Loaded', dots='true')
                //div.banner_image(style="background:url('{{i.image}}'); height:600px")
                div(ng-repeat='i in my.number1 track by $index')
                    div(ng-include="'tpl2.html'")




        //div#par1
        //    h1#paragraph lorem ipsum dolor
        //    a.butt_lorem(href='#/catalogue') каталог

    div#conteiner_section2

        div#section2_aside1
            div#section2_aside1_part1
                img.fast-del-img.mobileandtablet(src='../img/breezer.jpg')
                h2.fst-del.mobileandtablet Fast Delivery

            div#section2_aside1_part2
                h2 Fast Delivery
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nihil reprehenderit explicabo magni quaerat asperiores
                input#fast_delivery(type='button' value='Lorem ipsum')
        div#section2_aside2
            div#section2_aside2_part1
                h2.notInMobile Hign Quality and low price
                h2.hgh-qual-heat Hign Quality
                h2.hgh-qual-mid and low price
                img#hig-qual-img(src='../img/wisky.jpg')
                p.notInMobile Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis eos explicabo tenetur facilis qui earum, autem voluptatum voluptatibus soluta pariatur. Iste tempora dolorem ducimus possimus. Sapiente nostrum cum eveniet voluptatibus
                p.hgh-qual-text.mobile.notInPc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis eos explicabo tenetur facilis qui earum
            div#section2_aside2_part2
                img(src='../img/wisky.jpg')


    div#conteiner_section3
        div.section3_header.part2
            p.slider_head Lorem ipsum dolor

        a(name='Shares')


            //
        div.section3_content.slick-container
            script( type="text/ng-template" id="tpl.html")

                div.slider-element(ng-click='my.detail_of_goods(i)')
                    a(href='#/details')
                        img(ng-src='{{i.image}}' ng-click='my.detail_of_goods(i)')
                        h4
                        p


            slick.slider#slick_slider(settings='my.slickConfig', ng-if='my.slickConfigLoaded')
                div(ng-repeat='i in my.number  track by $index|limitTo:15')
                    div(ng-include="'tpl.html'")

            div.secti.sectiL
            div.secti.sectiR

        div.section3_header.part2
            p.slider_head Lorem ipsum dolor




        a(name='Shares')
            //p.down Lorem ipsum dolor
        div.section3_content.slick-container
            script( type="text/ng-template" id="tpl.html")

                div.slider-element(ng-click='my.detail_of_goods(i.product_id)')
                    a(href='#/details')
                        img(ng-src='{{i.image}}' ng-click='my.detail_of_goods(i)')
                    h4 {{i.price*my.discount}} грн
                    p
                    span.caruosele_footer {{i.name}}
            slick.slider.slick_slider(settings='my.slickConfig2', ng-if='my.slickConfigLoaded2')
                div(ng-repeat='i in my.number2  track by $index|limitTo:15')
                    div(ng-include="'tpl.html'")
            div.secti.sectiL
            div.secti.sectiR

    div#conteiner_section4
        a(name='aboutus')
        div.backLine
        div#conteiner_section4_about
            h2 About Us
            p Lorem ipsum dolor sit amet, consectetur
                | adipiscing elit, sed do eiusmod tempor
                | incididunt ut labore et dolore magna
                | aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco
                | laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in
                | reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur.
                | Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia
                | deserunt mollit anim id est laborum
            p.hide Lorem ipsum dolor sit amet, consectetur
                | adipiscing elit, sed do eiusmod tempor
                | incididunt ut labore et dolore magna
                | aliqua. Ut enim ad minim veniam, quis
                | nostrud exercitation ullamco laboris
                | nisi ut aliquip ex
            img.mint(src='../img/mint-png33.png')
    div#conteiner_section5
        a(name='delivery')
        h1 Lorem ipsum dolor sit amet
        div#conteiner_section5_box
            div.conteiner_section5_box1
                img(src='../img/1234.png')
                p.down Lorem ipsum dolor sit amet
            div.conteiner_section5_box1
                p.up Lorem ipsum dolor sit amet
                img(src='../img/e535b.png')
            div.conteiner_section5_box1
                img(src='../img/0d4fa2551.png')
                p.down Lorem ipsum dolor sit amet
            div.conteiner_section5_box1
                p.up Lorem ipsum dolor sit amet
                img(src='../img/b9d84c5b8b0.png')
        div.section5_hide
            div.hideblock
                div.box1
                    img(src='../img/1234.png')
                    p.down Lorem ipsum dolor sit amet
                div.box1
                    img(src='../img/0d4fa2551.png')
                    p.down Lorem ipsum dolor sit amet
            div.hide2block
                div.box1
                    p.up Lorem ipsum dolor sit amet
                    img(src='../img/e535b.png')
                div.box1
                    p.up Lorem ipsum dolor sit amet
                    img(src='../img/b9d84c5b8b0.png')
