.banner {

  margin-top: 10px;
  width: 100%;
  height: 550px ;
  padding-top: 10px;
  color: white;
  box-sizing: border-box !important;
  cursor: pointer;
@include pc_1024-1200{
  margin-top: 60px;
}
  @include pc_1000-1024{
    display: none;
  }
  @include tablet{
    height:300px;
    display: none;
    margin:0;
    padding:0;
  }
  @include mobile{
    display: none;
  }

  .main_banner {
    @include tablet{
      height:600px;
    }
    @include pc_1000-1024{
      height:600px;
    }
    @include pc_1024-1200{
      height:460px;
    }
    @include mobile {
      height: 550px;

    }
    height: 560px;
  }
  .slick-list {

    height: 700px;
    background-repeat: no-repeat !important;
    @include pc_1200-1550{
      height: 460px
    }
    @include pc_1000-1024{
      height:460px;
    }
    @include pc_1024-1200{
      height:460px;
    }
    @include tablet{
      height:300px;

    }
  }

  .slick-dots li button:before {
    font-size: 35px;
  }
  .banner .main_banner {

    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: right !important;
    height: 700px;
  @include pc_1200-1550{
    height: 700px;}
  }



}