.basket_conteiner {
  display: flex;
  flex-direction: column;
  background: #0b1013;
  max-width: 1920px;
  padding-bottom:100px;
  color: #f6f6f6;
  padding-top: 70px;
  font-family: $font_family;
  @include mobile{
    padding-top: 30px;
  }
  .basket_img{
    width: auto;
  }
  .basket_img2{
    height: auto;
    width: 100%;
    //padding-left: 50px;
    //padding-right:50px;
    //padding-bottom: 70px;
    //padding-top: 10px;
    @include mobile{
      height: 1px;
      padding-bottom: 10px;
      padding-top: 10px;
    }
    @include tablet{
      padding-bottom: 20px;
    }
  }

  h3 {
    color: #f6f6f6;
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    padding-left: 100px;
    @include mobile{
      font-size: 12px;
      font-weight: 400;
      line-height: 11px;
      padding-left: 10px;
    }
    @include tablet{
      font-size: 12px;
      font-weight: 400;
      line-height: 11px;
      margin-left: -50px;
    }
  }
  .basket_part1{
    padding: 50px 100px 150px;
    display: flex;
    justify-content: space-around;
    //padding-bottom: 150px;

    @include pc_1200-1550{
      padding: 50px 60px 150px;
    }
    @include pc_1024-1200 {
      padding: 50px 40px 150px;

    }
    @include pc_1000-1024 {
        padding: 50px 30px 150px;
      }
    @include mobile{
      padding: 50px 10px 40px;
    }
    @include tablet{
      padding: 50px 20px 150px;
    }
  }
  .basket_part1_section_left{
    flex-basis: 60%;
    margin-right: 20px;
    @include mobile{
      flex-basis: 100%;
      margin-right: 0px;
    }
  }

  .basket_part1_section_left_s {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .basket__repeat-block{
      height: 120px;
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      border:1px solid white;
      align-items: center;
      position: relative;
      background: #343434;
      @include mobile{
        justify-content: space-between;
      }
      p{
        @include mobile{
          margin-right: 10px;
        }
      }
      .basket_img{
        height: 90px;
        width:auto;
        @include mobile{
          margin-left: 10px;
        }
      }
      .basket__conteiner-in{
        height: 100px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        .basket__conteiner-text{
         font-weight: 600;
          margin-bottom: 10px;
          font-size: 17px;
        }
      }
      .basket__conteiner-in2{
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile{
          width: 55px;
        }
      }
      .basket__conteiner-img{
        position: absolute;
        top:15px;
        right: 15px;
      }
    }
    .basket__total-conteiner{
      display: flex;
      justify-content: flex-end;
    }
    .basket__total-sum{
      height: 55px;
      width: 278px;
      padding: 0 20px;
      background: #343434;
      border: 1px solid #30f4ab;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include mobile{
        width: 255px;
        margin: auto;
      }
      .span{
        font-size: 20px;
        color: #30f4ab;
      }
    }

  }
  .basket_part1_section_left_order {
    max-width: 1132px;
    height: 147px;
    border: 1px solid #f6f6f6;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-left: 50px;
    @include mobile{
      padding-left: 10px;
      margin-bottom: 20px;
      width: 94%;
      height: 71px;
    }
    @include tablet{
      width: 428px;
      height: 70px;
      padding-left: 10px;
    }
    img{
      max-width: 100%;
      max-height: 80%;
      @include mobile{
        max-width: 80%;
        max-height: 80%;
      }
    }
    h4{
      font-size: 19px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      //flex-grow: 1;
      width: 30%;
      @include mobile{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
      @include tablet{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;

      }
    }
    //
    //p{
    //  font-size: 13px;
    //  font-weight: 400;
    //  line-height: 24px;
    //  text-transform: uppercase;
    //  @include mobile{
    //    font-size: 12px;
    //    font-weight: 400;
    //    line-height: 11px;
    //  }
    //  @include tablet{
    //    font-size: 12px;
    //    font-weight: 400;
    //    line-height: 11px;
    //  }
    //}
    //
    //.price{
    //  font-size: 21px;
    //  font-weight: bold;
    //  line-height: 24px;
    //  text-transform: uppercase;
    //  width: 22%;
    //  align-self: center;
    //  @include mobile{
    //    font-size: 12px;
    //    font-weight: bold;
    //    line-height: 11px;
    //  }
    //  @include tablet{
    //    font-size: 12px;
    //    font-weight: bold;
    //    line-height: 11px;
    //  }
    //}
    //.minus {
    //  height: 25px;
    //  width: 25px;
    //  background: transparent;
    //  border: 0px;
    //  background: url('../img/minus.png') no-repeat center;
    //  @include mobile{
    //    width: 11px;
    //    height: 12px;
    //  }
    //  @include tablet{
    //    width: 11px;
    //    height: 12px;
    //  }
    //
    //}
    //.plus {
    //  height: 25px;
    //  width: 25px;
    //  background: transparent;
    //  border: 0px;
    //  background: url('../img/plus.png') no-repeat center;
    //  @include mobile{
    //    width: 11px;
    //    height: 12px;
    //  }
    //  @include tablet{
    //    width: 11px;
    //    height: 12px;
    //    margin-right: 50px;
    //  }
    //
    //}
    //.text_butt{
    //  width: 6px;
    //  font-size: 25px;
    //  font-weight: bold;
    //  line-height: 57px;
    //  @include mobile{
    //    font-size: 14px;
    //    font-weight: bold;
    //    line-height: 27px;
    //  }
    //  @include tablet{
    //    font-size: 14px;
    //    font-weight: bold;
    //    line-height: 27px;
    //  }
    //}
    //.basket_cancel{
    //  align-self: flex-start;
    //  justify-content: flex-end;
    //  margin-right: 20px;
    //  margin-top: 20px;
    //}
  }
  //.basket_part1_section_left_end{
  //  display: flex;
  //  align-items: flex-end;
  //  max-width: 477px;
  //
  //}
  .basket_part1_section_left_e{
    align-items: flex-end;
    max-width: 477px;
    height: 75px;
    border: 1px solid #30f4ab;
    background-color: #303030;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @include mobile{
      width: 201px;
      height: 36px;
    }
    @include tablet{
      width: 251px;
      height: 36px;
    }

    .price2{
      font-size: 21px;
      font-weight: bold;
      line-height: 24px;
      text-transform: uppercase;
      @include mobile{
        font-size: 12px;
        font-weight: bold;
        line-height: 11px;
      }
      @include tablet{
        font-size: 12px;
        font-weight: bold;
        line-height: 11px;
      }
    }
    .together{
      color: #30f4ab;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      @include mobile{
        font-size: 12px;
        font-weight: 400;
        line-height: 11px;
      }
      @include tablet{
        font-size: 12px;
        font-weight: 400;
        line-height: 11px;
      }
    }
  }


  .basket_part1_section_delyvery{
    width: 536px;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    padding: 15px;
    flex-basis: 40%;
    @include mobile{
      display: none;
    }
    @include tablet{
      width: 231px;
    }


    h4{
      color: #0b1013;
      font-size: 21px;
      font-weight: 400;
      line-height: 24px;
      @include tablet{
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
      }
    }
    .basket_part1_section_delyvery_header{
      display: flex;
      justify-content: space-around;
      img{
        width: auto;
      }
    }


    .basket_part1_section_delyvery_content{
      color: #0b1013;
      font-size: 17px;
      font-weight: 400;
      line-height: 24px;
      @include pc_1200-1550{
        font-size: 16px;
      }
      @include pc_1024-1200{
        font-size: 14px;
      }
      @include pc_1000-1024{
        font-size: 14px;
      }
      @include tablet{
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }
  .basket_details{
    padding: 50px 0;
    @include pc_1000-1024{
      padding: 10px 0;
    }
    @include tablet{
      padding: 10px 0;
    }
    @include mobile{
      margin-left: 10px;
    }
  }
  .basket__input2{
    //margin-right: 150px !important;
  }
  .basket__input-conteiner{
    width: 1185px;
    display: flex;
    justify-content: space-between;
    margin:30px auto;
    @include pc_1200-1550{
      width: 996px;
    }
    @include pc_1024-1200{
      width: 900px;
    }
    @include pc_1000-1024{
      width: 700px;
      margin: 25px auto;
    }
    @include tablet{
      width: 700px;
      margin: 25px auto;

    }
    @include mobile{
       width: 90%;
      display: block;
      margin: auto;
    }
  }
  .basket_input{
    color: #f6f6f6;
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;
    width: 572px;
    box-sizing: border-box;
    padding-left: 10px;
    height: 71px;
    border: 1px solid #f6f6f6;
    background-color: #303030;
    @include pc_1200-1550{
      width: 490px;
    }
    @include pc_1024-1200{
      width: 435px;
      font-size: 18px;
    }
    @include pc_1000-1024{
      width: 340px;
      height: 45px;
      font-size: 15px;
    }
    @include tablet{
      width: 340px;
      height: 45px;
      font-size: 15px;
    }
    @include mobile{
      width: 100%;
      height: 45px;
      font-size: 15px;
      display: block;
      margin:20px auto;
    }

  }
  .small{
    width: 111px;
    @include pc_1024-1200{
      width: 87px;
      font-size: 15px;
    }
    @include pc_1000-1024{
      width: 70px;
      font-size: 11px;
    }
    @include tablet{
      width: 70px;
      font-size: 11px;
    }
    @include mobile{
      font-size: 12px;
      font-weight: bold;
      line-height: 11px;
      width: 23%;
      margin:0 1% 20px;
      height: 45px;
      display: inline-block;
    }

  }
  .small2{
    @include pc_1024-1200{
      margin-right: 0;
    }
  }
  .textarea{
    height: 130px;
    width: 1185px;
    margin: auto;
    resize: none;
    @include pc_1200-1550{
      width: 996px;
    }
    @include pc_1024-1200{

    }
    @include pc_1000-1024{
      width: 5524px;
      height: 85px;
      font-size: 12px;
      font-weight: bold;
      line-height: 11px;
    }
    @include tablet{
      width: 524px;
      height: 85px;
      font-size: 12px;
      font-weight: bold;
      line-height: 11px;
    }
    @include mobile{
      padding-top: 5px;
      width: 98%;
      height: 70px;
      font-size: 12px;
      margin-bottom: 20px;
      font-weight: bold;
      line-height: 11px;
    }

  }
  .basket_button{
    color: #30f4ab;
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid #30f4ab;
    background-color: #303030;
    height: 71px;
    display: block;
    width: 600px;
    margin: auto;
    @include tablet{
      max-width: 254px;
      height: 34px;
      font-size: 14px;
      font-weight: bold;
      line-height: 11px;
      margin-top: 10px;
    }
    @include mobile{
      font-size: 14px;
      font-weight: bold;
      width: 80%;
      margin: auto;
      line-height: 11px;
      height: 34px;

    }

  }




.basket_table{
  @include mobile{
    width:100%;
    font-size:12px;
    box-sizing: border-box;
  }
}

}
.basket_table_head{
  height:40px;
  background-color: #272726;

}
.basket_buttons_field{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket_text_butt{
  margin: auto;
}
.basket_cancel{
  width:14px;
  height:auto;

}
.basket_minus{
  width:12px;
  height:30px;
background: transparent;
  background: url('../img/minus.png') no-repeat center;
  border:none;
}
.basket_plus{
  width: 13px;
  background: transparent;
  height:16px;
  background: url('../img/plus.png') no-repeat center;
  border:none;

}
.mobileOnly{
  display: none;
  @include mobile{
    display: block;

  }
}