
 .category {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none !important;
  flex-wrap: wrap;
  width: 60%;
   @include pc_1000-1024{
     width:90%;
     padding-left: 0;
   }
  @include tablet{
    width:90%;
    padding-left: 0;
  }
  @include mobile{
    flex-wrap: wrap;
    padding-left: 0;
    width:100%;
    display: none;
  }
}
 .category2 {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   list-style-type: none !important;
   flex-wrap: wrap;
   padding-left: 100px;
   @include mobile{
     flex-wrap: wrap;
     padding-left: 0;
     width:100%;
   }

 }
.catalog_img1{
  //padding-left: 4.9%;
  //width:90%;
  margin-bottom:-5px;
}
.category input ,.category2 input {
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  list-style-type: none !important;
  min-width:50px;
}

.category label ,.category2 label {
  background: #0b1013;
  list-style-type: none !important;
  font-size: 12px;
  line-height: 40px;
  height: 40px;
  position: relative;
  flex: 1 0;
  border-left: 1px solid #515658;
  border-right:1px solid #515658 ;

  width: 50px;
@include mobile {
  min-width:70px;
  font-size: 14px;
  border:1px solid #515658;
}
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  cursor: pointer;

}

.category label:after ,.category2 label:after  {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  display: block;
}

.category input:hover + label .category2 input:hover + label {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.category label:first-of-type ,.category2 label:first-of-type {
  z-index: 4;
}

.category input:checked + label ,.category2 input:checked + label{
  background: rgba(255, 255, 255, 0.3);
  color: #fff;;
  z-index: 6;
}
.categori__hide{
  min-height: 90px;
  margin: auto;
  width: 80%;
  display: none;
  @include mobile{
    display: block;
  }
  .categori__hide__container{
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid gray;
    p{
      font-size: 21px;
      margin-left: 10px;
      color: white;
    }
  }
  .filter__hide-container{
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid gray;
    p{
      font-size: 21px;
      margin-left: 10px;
      color: white;
    }
    .catalogue_filter_head{
      display: flex;
      align-items: center;
      img{
        width: 18px;
        height: auto;
      }
    }
  }
  .Cattriangleimg{
    background: url('../img/triangle.png') no-repeat;
    display: block;
    height:12px;
    width: 12px;
    border: none;


  }
  .catalogue_filter{
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
}