.catalogue__wrap{
  background-color:#0b1013;

}
.catalogue_conteiner{
  color: #f6f6f6;
  font-family:$font_family;
  padding-bottom: 50px;
  max-width: 1690px;
  margin: 0 auto;
  @include pc_1550-1800{
   max-width: 1400px;
  }
  @include pc_1200-1550{
    max-width: 1125px;
  }
  @include pc_1024-1200{
    max-width: 940px;
  }
  @include pc_1000-1024{
    max-width: 622px;
  }

  @include  tablet{
    //padding-top: 30px;
    max-width: 622px;
  }

  //position: absolute;
  //z-index:5;
  //height: 3145px;
  .catalog_img1{
    padding: 0;
    max-width: 1718px;
    @include pc_1000-1024{
      width: 90%;
      height: 1px;
    }
    @include tablet{
      width: 90%;
      height: 1px;
    }
    @include mobile{
      display: none;
    }

  }
  img{
    max-width: 100%;
    height: auto;
    @include mobile{
      //max-width: 20%;
      //padding-left: 45px;
      padding-top: -50px;
    }
    @include tablet{
      max-width: 100%;
      //padding-left: 30px;
    }
  }
  .image{
    height: 240px;
    width: auto;
    @include pc_1000-1024{
      height: 190px;
    }
    @include tablet{
      height: 190px;
    }
    @include mobile{
      height: 90px;

    }
  }
  .image:hover{
    @include tablet{
      height: 150px;
    }
    @include mobile{
      height: 90px;

    }
  }
  h2{
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    @include mobile{
      display: none;
    }
    @include tablet{

    }
  }
  ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 70px;
    @include mobile{
      display: none;
    }
    @include tablet{
      padding-left: 30px;
      margin-top: -5px;
    }


  }
  li{
    display: flex;
    justify-content: center;
    align-items:center;
    padding-left: 30px;
    @include tablet{
      padding-left: 40px;
    }


  }
  .list_img{
    padding-left: 30px;
  }
  a{
    color:#f6f6f6;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    @include tablet{
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;

    }
  }
  .catalogue.box{
    display: flex;
    justify-content: flex-start;
    padding-top: 60px;
    @include pc_1550-1800{

    }
    @include pc_1000-1024{
      padding-top: 30px;
    }
    @include  tablet{
      padding-top: 30px;
    }
    @include mobile{
      max-width: 90%;
      margin: auto;
    }
  }




  .catalogue_filter{
    @include mobile{
      display: none;
    }
    @include  pc_1024-1200{
      font-size: 18px;
      line-height: 20px;
    }
    @include pc_1000-1024{
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      width: 300px;
      margin: 10px 20px 0 0;

    }
    @include tablet{
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      width: 300px;
      margin: 10px 20px 0 0;
    }
    margin: 10px 20px 0px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 440px;
    padding-top: 6px;

    img{
      width:20px;
      margin-top:5px;
      margin-right:15px;
    }
    .filter_hide{
      background: transparent;
      font-size: 11px;
      font-weight: 400;
      line-height: 24px;
      margin-right:5px;
      border:none;
      color: #f6f6f6;
      @include tablet{
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
      }
    }

    .catalogue_filter_head{
      display: flex;
      justify-content:flex-start;
      align-items: center;
      border-right: 1px solid #3c3c3c;
      border-bottom: 1px solid #3c3c3c;
      height: 65px;
      p {
        padding-left: 20px;
      }
      @include mobile{
        display: none;
      }
    }

    .catalogue_filter_sort{
      min-height: 30px;
      display: flex;
      flex-direction: column;
      border-right: 1px solid #3c3c3c;
      border-bottom: 1px solid #3c3c3c;
      padding-bottom: 10px;
      @include mobile{
        border-right: none;
      }

      .catalogue_filter_sort_part1{
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
          flex-basis: 70%;
        }
      }
      .catalogue_filter_sort_check{
        display: flex;
        flex-direction: column;

      }
      @include tablet{
      }
    }

    .catalogue_filter_pice{
      min-height: 30px;
      border-right: 1px solid #3c3c3c;
      border-bottom: 1px solid #3c3c3c;
      padding-bottom:10px;
      @include mobile{
        border-right: none;
      }

    }
    .catalogue_filter_price_part1{
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        flex-basis: 70%;
      }
      @include mobile{
        border-right: none;
      }
    }


    .catalogue_filter_volume{
      border-right: 1px solid #3c3c3c;
      border-bottom: 1px solid #3c3c3c;
      padding-bottom: 10px;
      @include mobile{
        border-right: none;
      }
    }
    .catalogue_filter_volume_part1{
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        flex-basis: 70%;
      }
    }
    .ckeck{
      padding-left: 30px;
      padding-top: 30px;
    }
    .radiobox {
      transform: scale(1.5);
      opacity: 0.9;
      cursor: pointer;
      padding-top: 45px;
      margin: 10px 10px 10px 0;
      background: red;
      display: inline-block;
    }
    input[type="checkbox"]{
    border-radius: 10px;
    margin: 10px 10px 10px 0;
   }
    //// скрываем radiobutton
    //input[type="radio"]{display: none;}
    //
    //// кастомизируем label
    //label{
    //  width: 20px;
    //  height: 20px;
    //}
    //label{background-color: blue;}
    //
    //// Для выбранного объекта
    //input[type="radio"]:checked+label{
    //  border: black solid 2px;
    //}

  }






  .catalogue_goods{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    @include mobile{
      justify-content: space-around;
      max-width: 100%;
      //padding-left: 10px;
    }
    @include pc_1000-1024{
      max-width: 850px;
    }
    @include tablet{
      max-width: 850px;
    }



    .catalogue_goods_object{
      @include pc_1024-1200{
        width: 300px;
      }
      @include pc_1000-1024{
        height: 280px;
        width: 190px;
        .to_basket{
          visibility: visible;
          margin-top: 5px;
          height: 25px;
          font-size: 15px;
          width: 80%;
          background: black;
        }
        .to_basket:active{
          color: red;

        }
        img{
          height: 150px;
          width:auto;
        }
        p{
          line-height: 18px;
        }
        p.price_goods{
          margin-top: 0px;
          font-size: 16px;
        }
      }
      @include tablet{
        height: 280px;
        width: 190px;
        .to_basket{
          visibility: visible;
          margin-top: 5px;
          height: 25px;
          font-size: 15px;
          width: 80%;
          background: black;
        }
        .to_basket:active{
          color: red;

        }
        img{
          height: 150px;
          width:auto;
        }
        p{
          line-height: 18px;
        }
        p.price_goods{
          margin-top: 0px;
          font-size: 16px;
        }
      }
      @include mobile{
        display: flex;
        justify-content: flex-start;
        width: 130px;
        height: 180px;
        padding-top: 5px;
      }
      width: 250px;
      height: 360px;
      border: 1px solid #f6f6f6;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-right: 10px;
      margin-bottom: 30px;
      padding-top: 10px;

      h4{
        font-size: 19px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        padding-top:20px;
        text-align: center;
        @include pc_1024-1200{
          font-size: 17px;
        }
        @include mobile{
          font-size: 14px;
          padding-top: 5px;
          line-height: 14px;
        }
        @include tablet{
          font-size: 15px;
          font-weight: 400;
          line-height: 20px;
        }
      }
      p{
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
        color: grey;
        @include mobile{
          font-size: 10px;
          line-height: 11px;
        }
        @include pc_1000-1024{
          font-size: 10px;
          font-weight: 400;
          line-height: 11px;
        }
        @include tablet{
          font-size: 10px;
          font-weight: 400;
          line-height: 11px;
        }

      }
      p.price_goods{
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        font-size: 19px;
        margin-top: 10px;
        color: grey;
        @include mobile{
          font-size: 12px;
          padding-top: 1px;
          line-height: 11px;
        }
        @include pc_1000-1024{
          font-size: 12px;
          font-weight: 400;
          line-height: 11px;
        }
        @include tablet{
          font-size: 12px;
          font-weight: 400;
          line-height: 11px;
        }
      }
    }
    .to_basket{
      @include tablet{
      }
      @include mobile{
        visibility: visible;
        margin-top: 7px;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        width: 105px;
        height: 20px;
      }
      visibility: hidden;
      width: 100%;
      height: 36px;
      border-bottom: 1px solid #30f4ab;
      border-top: 1px solid #30f4ab;
      border-right: none;
      border-left: none;
      background-color: #2a2a2a;
      color: #30f4ab;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      z-index: 100;
    }
    .catalogue_goods_object:hover{
      background-color: #303030;
      .to_basket{
        visibility: visible;
        margin-top: 10px;
        background: #303030;
        width: 90%;
      }
      .to_basket:active{
        color: red;

      }
      img{
        height: 185px;
        width:auto;
      }
      p{
        line-height: 30px;
      };
      p.price_goods{
        margin-top: 0px;
        font-size: 16px;
      }
      @include pc_1200-1550{
        background-color: #303030;
        //@include mobile{
        //  height: 180px;
        //}
        .to_basket{
          visibility: visible;
          margin-top: 10px;
          background: #303030;
          width: 90%;
        }
        .to_basket:active{
          color: red;

        }
        img{
          height: 185px;
          width:auto;
        }
        p{
          line-height: 30px;
        };
        p.price_goods{
          margin-top: 0px;
          font-size: 16px;
        }
      }
      @include pc_1024-1200 {
        background-color: #303030;
        //@include mobile{
        //  height: 180px;
        //}
        .to_basket {
          visibility: visible;
          margin-top: 10px;
          background: #303030;
          width: 90%;
        }
        .to_basket:active {
          color: red;

        }
        img {
          height: 185px;
          width: auto;
        }
        p {
          line-height: 30px;
        }
      ;
        p.price_goods {
          margin-top: 0px;
          font-size: 16px;
        }
      }
      @include pc_1000-1024{
        background-color: #303030;
        .to_basket{
          visibility: visible;
          margin-top: 5px;
          background: #303030;
          height: 25px;
          font-size: 15px;
          width: 90%;
        }
        .to_basket:active{
          color: red;

        }
        img{
          height: 150px;
          width:auto;
        }
        p{
          line-height: 18px;
        };
        p.price_goods{
          margin-top: 0px;
          font-size: 16px;
        }
      }@include tablet{
          background-color: #303030;
          //@include mobile{
          //  height: 180px;
          //}
          .to_basket{
            visibility: visible;
            margin-top: 5px;
            background: #303030;
            height: 25px;
            font-size: 15px;
            width: 90%;
          }
          .to_basket:active{
            color: red;

          }
          img{
            height: 150px;
            width:auto;
          }
          p{
            line-height: 18px;
          };
          p.price_goods{
            margin-top: 0px;
            font-size: 16px;
          }
        }
      @include mobile{
        background-color: #303030;
        .to_basket{
          visibility: visible;
          margin-top: 7px;
          font-size: 14px;
          font-weight: 400;
          line-height: normal;
          width: 105px;
          height: 20px;
        }
        .to_basket:active{
          color: red;
        }
        img{
          height: 90px;
          width:auto;
        }
        p{
          line-height: 11px;
        };
        p.price_goods{
          margin-top: 1px;
          font-size: 12px;
          line-height: 11px;
          margin-top: 10px;
        }
      }


    }



  }
  .catalogue_goods_paginnation{
    display: flex;
    justify-content: center;
    @include mobile{
      width:100%;
      //padding-left:5%;
      box-sizing: border-box;
    }
  }

}
.filter{
  @include pc_1000-1024{
    min-height:50px;
    padding-top:5px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:stretch ;
    padding-right:10px;
    box-sizing: border-box;
    font-size: 12px !important;
  }
  @include  tablet{
    min-height:50px;
    padding-top:5px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:stretch ;
    padding-right:10px;
    box-sizing: border-box;
    font-size: 12px !important;
  }
}