doctype html
html(lang="eng")
    head
        title Alcohol Delivery
        include components/links

body(ng-app="myapp" ng-controller="myCtrl as my")
    header

        include components/header
    main
        ng-view
    footer
        include components/footer


    script(src='../js/libs/jquery-3.2.1.min.js')
    //script(src='../js/libs/angular.min.js')
    script( src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")

    //script(src='../js/libs/angular-animate.min.js')
    script( src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js")


    //slick-slider

    script(src='../js/libs/slick.js')

    script(src='../js/libs/slick-carousel.js')

    script(src='../js/libs/angular-slick.js')


        //slider-range
    script(type="text/javascript" src='//rawgithub.com/prajwalkman/angular-slider/master/angular-slider.js'  charset="utf-8")
    //angular JS
    //script(src='../js/libs/angular-route.min.js')

    script( src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js")
    script( type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js")
    script(src='../js/libs/angular-to-base64.js')

    script( src='../js/main.js')










